<?xml version="1.0" encoding="UTF-8"?>
<parameters>
	<schedulability_test>
		<data>WF-DM</data>
		<data>WF-EDF</data>
	</schedulability_test>
	<experiment_times>100</experiment_times>
	<lambda>
		<data>10</data>
	</lambda>
	<step>
		<data>0.05</data>
	</step>
	<init_utilization_range>
		<data>
			<min>0</min>
			<max>4</max>
		</data>
	</init_utilization_range>
	<processor_num>
		<data>4</data>	
	</processor_num>
	<period_range>
		<data>
			<min>200000</min>
			<max>1000000</max>
		</data>
	</period_range>	
	<resource_num>
		<data>10</data>
	</resource_num>
	<rrp>//resource_request_probability
		<data>0.1</data>
	</rrp>
	<rrn>//resource_request_number
		<data>5</data>
	</rrn>
	<rrr>//resource_request_range
		<data>
			<min>10</min>
			<max>50</max>
		</data>
	</rrr>
	<total_len_factor>
		<data>0.6</data>
	</total_len_factor>
</parameters>
