<?xml version="1.0" encoding="UTF-8"?>
<parameters>
	<schedulability_test>
<!-->
		<data TEST_TYPE="0" REMARK="native">RTA-GFP</data>
		<data TEST_TYPE="1" REMARK="bc">RTA-GFP</data>
		<data TEST_TYPE="2" REMARK="gn">RTA-GFP</data>
		<data REMARK="normal">WF-EDF</data>
		<data TEST_TYPE="0" REMARK="normal">WF-DM</data>
		<data TEST_TYPE="1" REMARK="spin">WF-DM</data>
		<data TEST_TYPE="2" REMARK="semaphore">WF-DM</data>
		<data TEST_TYPE="0" REMARK="normal">WF-DM</data>
		<data TEST_TYPE="1" REMARK="spin">WF-DM</data>
		<data TEST_TYPE="2" REMARK="semaphore">WF-DM</data>
		<data TEST_TYPE="0" REMARK="PIP">LP-GFP</data>
		<data TEST_TYPE="0" REMARK="DPCP">LP-PFP</data>
		<data TEST_TYPE="0" REMARK="">RO-PFP</data>
<!-->
		<data TEST_TYPE="0" REMARK="RO">P-EDF</data>
		<data TEST_TYPE="0" REMARK="SPIN">BCL-FTP</data>
	</schedulability_test>
	<experiment_times>50</experiment_times>
	<output>
		<data FORMAT="PNG" BLACK_ONLY="true" >LineChart</data>
		<data FORMAT="EPS" BLACK_ONLY="true" >LineChart</data>
		<data FORMAT="SVG" BLACK_ONLY="true" >LineChart</data>
		<data FORMAT="TGA" BLACK_ONLY="true" >LineChart</data>
		<data>JSON</data>
	</output>
	<lambda>
		<data>10</data>
	</lambda>
	<step>
		<data>0.4</data>
	</step>
	<init_utilization_range>
		<data>
			<min>0</min>
			<max>3</max>
		</data>
	</init_utilization_range>
	<processor_num>
		<data>4</data>	
	</processor_num>
	<period_range>
		<data>
			<min>10000</min>
			<max>100000</max>
		</data>
	</period_range>
	<deadline_propotion>
		<data>
			<min>0.6</min>
			<max>1</max>
		</data>
	</deadline_propotion>
	<resource_num>
		<data>4</data>
	</resource_num>
	<rrp>//resource_request_probability
		<data>0.25</data>
	</rrp>
	<rrn>//resource_request_number
		<data>3</data>
	</rrn>
	<rrr>//resource_request_range
		<data>
			<min>25</min>
			<max>100</max>
		</data>
	</rrr>
	<total_len_factor>
		<data>0.6</data>
	</total_len_factor>
	<dag_job_num_range>
		<data>
			<min>3</min>
			<max>3</max>
		</data>
	</dag_job_num_range>
	<paralleled_probability>
		<data>0.2</data>
	</paralleled_probability>
	<conditional_probability>
		<data>0</data>
	</conditional_probability>
	<max_paralleled_job>
		<data>5</data>
	</max_paralleled_job>
	<max_conditional_branch>
		<data>4</data>
	</max_conditional_branch>
	<dag_arc_density>
		<data>0.6</data>
	</dag_arc_density>
	<dag_arc_num_range>
		<data>
			<min>0</min>
			<max>10</max>
		</data>
	</dag_arc_num_range>
	<is_cyclic>
		<data>0</data>
	</is_cyclic>
	<max_indegree>
		<data>2</data>
	</max_indegree>
	<max_outdegree>
		<data>2</data>
	</max_outdegree>
</parameters>
